// Fuentes
$fuente_principal: "Roboto", sans-serif;

// Media Queries
$telefono: 375px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

// Colores
$primario: #5e311e;
$secundario: #c39c63;
$negro: #000000;
$blanco: #ffffff;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

// Unidades
$separacion: 5rem;
