@use "base/mixins" as m;
@use "base/variables" as v;

.contenido-menu {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  // aspect-ratio: 2 / 7;
  padding-bottom: 20rem;

  @include m.telefono {
    padding-bottom: 20rem;
    aspect-ratio: 2 / 3;
  }

  @media (min-width: 700px) {
    padding-bottom: 0;
    aspect-ratio: 3 / 3;
  }

  @include m.desktop {
    @include m.grid(2, v.$separacion);
    aspect-ratio: 16 / 6;
    background-size: 40%;
    background-position: bottom right;
    padding-bottom: 10rem;
  }

  .texto {
    p {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
}
.notavif.notwebp .contenido-menu {
  background-image: url(../img/cafe.jpg);
}
.webp .contenido-menu {
  background-image: url(../img/cafe.webp);
}
.avif .contenido-menu {
  background-image: url(../img/cafe.avif);
}
